<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Foster Carers Portal</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('common/header'); -%>
  <main role='main'>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/children">Children</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= child.name %></li>
        </ol>
      </nav>
      <div class="d-flex justify-content-between">
        <h1 class='py-2'><%= child.name %></h1>
        <a href="/edit-child/<%= child.id %>" class="align-self-center"><button type="button" class="btn btn-primary">Edit</button></a>
      </div>
      <p>DOB: <%= Intl.DateTimeFormat('en-GB').format(child.dob) %></p>
      
      <div class="row"><div class="col py-1"><a href="/child/<%= child.id %>/appointments"><button class="btn btn-secondary">Appointments</button></a></div></div>
      <div class="row"><div class="col py-1"><a href="/child/<%= child.id %>/feeds"><button class="btn btn-secondary">Feeding</button></a></div></div>
      <div class="row"><div class="col py-1"><a href="/child/<%= child.id %>/changes"><button class="btn btn-secondary">Changes</button></a></div></div>
      <div class="row"><div class="col py-1"><a href="/child/<%= child.id %>/reports"><button class="btn btn-secondary">Reports</button></a></div></div>
      <div class="row"><div class="col py-1"><a href="/child/<%= child.id %>/incidents"><button class="btn btn-secondary">Incidents</button></a></div></div>
    </div>
  </main>
</body>
</html>