<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Foster Carers Portal</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/scripts/expenses.js"></script>
</head>
<body>
  <%- include('common/header'); -%>
  <main role='main'>
    <!-- Add Expense -->
    <div class="modal" id="addModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="type" class="col-form-label">Type:</label>
                <select class="form-control" id="type" name="type" onchange="showMileage()" required>
                  <option value="Mileage">Mileage</option>
                  <option value="Parking">Parking</option>
                  <option value="Train">Train</option>
                  <option value="Bus">Bus</option>
                  <option value="Ferry">Ferry</option>
                  <option value="Taxi">Taxi</option>
                </select>
              </div>
              <div class="form-group" id="group-mileage">
                <label for="mileage" class="col-form-label">Mileage:</label>
                <input type="number" class="form-control" name="mileage" id="mileage">
              </div>
              <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" name="amount" id="amount" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" onclick="addExpense('<%= appointment._id; %>')">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Expense -->
    <div class="modal" id="editExpense" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="type" class="col-form-label">Type:</label>
                <select class="form-control" id="edit-type" name="edit-type" required onchange="showEditMileage()">
                  <option value="Mileage">Mileage</option>
                  <option value="Parking">Parking</option>
                  <option value="Train">Train</option>
                  <option value="Bus">Bus</option>
                  <option value="Ferry">Ferry</option>
                  <option value="Taxi">Taxi</option>
                </select>
              </div>
              <div class="form-group" id="group-edit-mileage">
                <label for="edit-mileage" class="col-form-label">Mileage:</label>
                <input type="number" class="form-control" name="edit-mileage" id="edit-mileage">
              </div>
              <div class="form-group">
                <label for="edit-amount">Amount:</label>
                <input type="number" class="form-control" name="edit-amount" id="edit-amount" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="confirmEdit" onclick="editExpense()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete expense -->
    <div class="modal" id="deleteExpense" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to delete this expense?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="confirmDelete" onclick="deleteExpense()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/children">Children</a></li>
          <li class="breadcrumb-item"><a href="/child/<%= child._id%>"><%= child.name %></a></li>
          <li class="breadcrumb-item"><a href="/child/<%= child._id%>/appointments">Appointments</a></li>
          <li class="breadcrumb-item active" aria-current="page">Expenses</li>
        </ol>
      </nav>
    <div class="d-md-flex d-block justify-content-between">
      <h1 class='py-2'>Expenses for <%= appointment.title %></h1>
      <button type="button" class="btn btn-primary align-self-center" onclick="showAddExpense()">Add Expense</button>
    </div>
    <h6 class='py-2'>Date: <%=Intl.DateTimeFormat('en-GB',{
      year: 'numeric', month: 'numeric', day: 'numeric'
    }).format(appointment.date)%></h6>
    <h6 class='py-2'>Location: <%=appointment.location%></h6>
    <table class="table" id='expenses'>
      <thead>
        <tr class="d-none d-md-table-row">
          <th scope="col">Type</th>
          <th scope="col">Mileage</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% expenses.forEach(expense => { %>
        <tr scope="row" id="expense-<%= expense._id %>">
          <td class="d-none d-md-table-cell"><%= expense.type %></td>
          <td class="d-none d-md-table-cell"><%= expense.mileage %></td>
          <td class="d-none d-md-table-cell"><%= Number(expense.amount).toFixed(2) %></td>
          <td class="d-none d-md-table-cell">
              <button class="btn btn-success" data-id="<%= expense._id %>" onclick="updateEditExpense('<%= expense._id %>')">Edit</button>
              <button class="btn btn-danger" data-id="<%= expense._id %>" onclick="updateDeleteExpense('<%= expense._id %>')">Delete</button>
          </td>
          <td class="d-md-none d-table-cell">
            <div class='card text-center'>
              <div class='card-body p-2'>
                <h5 class='card-title'><%= expense.type %></h5>
                <p class='card-text m-1'><% if(expense.mileage) { %>Mileage: <%= expense.mileage %><% } %></p>
                <p class='card-text m-1'>Amount: <%= Number(expense.amount).toFixed(2) %></p>
              </div>
              <div class="card-footer p-2">
                <button class="btn btn-success" data-id="<%= expense._id %>" onclick="updateEditExpense('<%= expense._id %>')">Edit</button>
                <button class="btn btn-danger" data-id="<%= expense._id %>" onclick="updateDeleteExpense('<%= expense._id %>')">Delete</button>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
  </div>
  </main>
</body>
</html>